<template name="adminSectionTile">
  <div class="admin-tile {{#if active}}tile-active{{/if}}" data-id="{{order}}">

    <div class="tile-content">

      <a class="tile-title" href="{{pathFor '/admin/sections/edit/:id' id=_id}}">{{title}}</a>
      <div class="tile-order-badge">{{order}}</div>
      {{> sectionPage}}
      <div class="sub-section-list-wrapper">
        {{> subSectionsList}}
      </div>

      <div class="tile-controls">
        <div class="switch">
          <input type="checkbox" checked="{{#if active}}checked{{/if}}" class="toggle-active" id="{{title}}">
          <label for="{{title}}"><span></span></label>
          <div>{{#if active}}Active{{else}}Section is not active{{/if}}</div>
        </div>
        <ul>
          <!-- <li><a class="edit-control" href="{{pathFor 'adminEditSection'}}"><i class="fa fa-pencil"></i></a></li> -->
          <li><a class="delete-control"><i class="fa fa-trash"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</template>

<template name="subSectionsList">
  <div class="sub-sections-list">  
    <ul>
    {{#each subSections}}
      <li><a href="{{pathFor '/admin/sections/edit/:id' id=_id}}">{{title}} {{order}}</a></li>
      {{> sectionPage}}
      {{#if haveChildren}}
        {{> subSectionsList}}
      {{/if}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="sectionPage">
  <ul>
  {{#each sectionPage}}
    <li>{{title}}</li>
  {{/each}}
  </ul>
</template>