<template name="adminUploader">
  <form method="POST" enctype="multipart/form-data" class="upload-form">
    <div class="uploader-wrapper">

      <div class="upload-input-wrapper">
        <span><i class="fa fa-upload"></i>
        {{#if image}} Update{{else}} File{{/if}}</span>
        <input type="file" class="jqUploadclass upload-input" data-form-data='{{submitData}}'>
      </div>
      <!-- thumbnail -->
      {{#if image}}
        <img src="{{thumbnail}}" class="preview">
        <a class="delete-image"><i class="fa fa-trash"></i></a>
      {{/if}}

      {{#with infoLabel}}
        <div class="info-label">{{ infoLabel}}</div>
        <button class="start">StartUpload</button>
        <div class="outer-progress">
          <div style="background: red; height: 30px; width: {{progress}}">
            {{ progress }}
          </div>
        </div>
      {{/with}}

    </div>
  </form>
</template>