<template name="adminEditSection">
  {{#contentWrapper}}
    {{#if Template.subscriptionsReady}}
      {{#with section}}

        <a class="close"><i class="fa fa-times"></i></a>
        <h1 class="section-title">{{title}}</h1>
        <!-- form for edit section -->
        <div class="form-wrapper">
          <form id="section-edit-form">
            <h2 class="title">Edit</h2>
            <label for="title">Title</label>
            <input type="text" value="{{title}}" name="title" class="input-form title-form">
            <label for="sub-title">Sub Title</label>
            <input type="text" value="{{subTitle}}" name="sub-title" class="input-form sub-title-form">
            <!-- editor -->
            {{> froalaReactive getFEContext }}
            <!-- image uploader -->
            {{> adminUploader multiple=false callbacks=setUploader thumbnail=image.thumbnail image=image }}
            <input type="submit" value="Submit" class="submit-form"/>
          </form>
        </div>

        <div class="add-sub-section">Add a sub section +
          <form id="section-add-sub-section">
            <label for="title">Title</label>
            <input type="text" name="title" class="input-form title-sub-section-form">
            <input type="submit" value="Submit" class="submit-form"/>
          </form>
        </div>

      {{/with}}
    {{/if}}
  {{/contentWrapper}}
</template>